<!-- ======================================================
     NEXORA ADMIN PANEL
     Footer Component
====================================================== -->

<footer class="footer">

    <div class="footer-left">

        <p>

            &copy; <span id="currentYear">2026</span>

            Nexora Urban Interiors & Construction Hub.

            All Rights Reserved.

        </p>

    </div>

    <div class="footer-right">

        <p>

            Designed and Developed by Dennis Digital Labs & AI
        </p>

    </div>

</footer>
